*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Be Vietnam Pro',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
    135deg,
    #0052D4,
    #4364F7,
    #6FB1FC
    );
}

.card{
    width:100%;
    max-width:450px;

    background:#fff;

    padding:40px;

    border-radius:24px;

    box-shadow:
    0 20px 60px rgba(0,0,0,.15);
}

.logo{
    text-align:center;
    margin-bottom:30px;
}

.logo h1{
    color:#051A39;
    font-size:34px;
}

.logo p{
    color:#64748B;
}

.form-group{
    margin-bottom:18px;
}

.form-group label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}

.form-group input{
    width:100%;
    height:55px;
    border:1px solid #dbeafe;
    border-radius:12px;
    padding:0 15px;
}

.form-group input:focus{
    outline:none;
    border-color:#1677FF;
}

.btn{
    width:100%;
    height:56px;
    border:none;
    border-radius:12px;

    background:
    linear-gradient(
    135deg,
    #0052D4,
    #4364F7,
    #6FB1FC
    );

    color:white;
    font-size:17px;
    font-weight:700;
    cursor:pointer;
}

.link{
    text-align:center;
    margin-top:20px;
}

.link a{
    color:#1677FF;
    text-decoration:none;
    font-weight:700;
}

.account-box{
    text-align:center;
}

.account-box h2{
    color:#051A39;
    margin-bottom:10px;
}

.info{
    margin-top:20px;
    text-align:left;
}

.info p{
    margin:12px 0;
}

.logout-btn{
    margin-top:25px;

    width:100%;
    height:55px;

    border:none;

    border-radius:12px;

    background:#ef4444;

    color:white;

    font-size:16px;

    cursor:pointer;
}